.Pokedex {
  text-align: center;
}

.Pokedex-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokecard-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.Pokedex-Winner {
  color: #4caf50;
}

.Pokedex-Loser {
  color: #e91e63;
}
